<!-- About Section -->
<section class="appendix" id="appendix">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Appendix</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <p>Appendix:
                    I am glad that many mistakes do not need to be made because very experienced people have shared them
                    and ways around them. I you like to read more, please find references below. <br><br>
                    References:<br>
                    <ul>
                    <li>- Robert C. Martin. 2008. Clean Code: A Handbook of Agile Software Craftsmanship. Prentice Hall PTR,
                        USA.</li>
                <li> https://agilemanifesto.org/</li>
                <li> https://martinfowler.com/bliki/DevOpsCulture.html</li>
                <li> https://martinfowler.com/articles/is-quality-worth-cost.html</li>
                    </ul>
                </br>
            </div>
        </div>
    </div>
</section>
