<!-- About Section -->
<section class="challenges" id="challenges">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Cloud Technology Challenges</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class=""col-lg-12 text-center">
                <p>Cloud technologies evolve extremely fast and best practices, implementations and APIs change rapidly.
                    The amazing job professors have done during my 5 years of University has given me the ability to
                    conceptualize the problem at hand and find correct architectures and avoid weak spots. Projects and
                    scopes usually develop fast due to several outside influences and require one like me who pushes
                    through changes, new technologies and other challenges. An important point to mention is that I do
                    value working solutions and my advice is always towards solutions which fits you and your project
                    best. I understand the tremendous cost of maintaining each single line of code or changing working
                    and proven code as a result I focus on lean evolving software products. </p>
            </div>
        </div>
    </div>
</section>
