<!-- About Section -->
<section class="success" id="success">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Success</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class=""col-lg-12 text-center">
                <p>Your project becomes my intrinsic motivation to success. Win/win scenarios are what I focus on. You
                    are invited to talk to me and discover of we can make a win/win happen. </p>
            </div>
        </div>
    </div>
</section>
