<!-- Technology Section -->
<section class="technology" id="technology">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Technology</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class=""col-lg-12 text-center">
                <p>Generally, you could summarize me as a Java and python Team Lead specialized in the Cloud area.
                    Isolation technologies like docker, virtual machines and similar belong to my strengths as a Cloud
                    Specialist. Also being a generalist who has worked with typescript (Angular 2, React), JavaScript,
                    groovy and different frontend technologies and have mentored Software Engineers to apply good
                    practices to these. </p>
            </div>
        </div>
    </div>
</section>
