 <!-- About Section -->
    <section class="who" id="who">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Role</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class=""col-lg-12 text-center">
                    <p>You can see me as a solution focused Software Engineer/Consultant with an entrepreneurial spirit. Taking ownership of culture, agile methodologies and good engineering practices. The entrepreneur spirit lets me steer towards lean features. A focus on good software quality means building a software product which is cheap and fast to follow market demands. Good software engineering practices and the culture which maintains these can be implement through automatic code quality tools, code reviews, using good Integrated Development Environments, methodologies like pair programming and much more. Another skill to get the best out of any team is my experience in agile methodologies also in remote settings. Therefore, having experienced and knowing the tools enables me to support the team and management to choose their best and individual way of working together. From my experience I also know to step back if someone already owns these responsibilities.</p>
                </div>
            </div>
        </div>
    </section>
